/* styles.css */

/* Reset margin dan padding */
body, h1, h2, h3, p, ul, li, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background:linear-gradient(to right, #8A50C9, #335EF8);
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
}

.navbar-brand a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.navbar-toggler {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
}

.navbar-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar-links ul li {
    margin: 0 10px;
}

.navbar-links ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

.navbar-links ul li a:hover {
    background-color: #6EACDA;
    border-radius: 4px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .navbar-toggler {
        display: block;
    }
    
    .navbar-links {
        display: none;
        width: 100%;
    }
    
    .navbar-links ul {
        flex-direction: column;
    }
    
    .navbar-links ul li {
        text-align: center;
    }
    
    .navbar-links ul li a {
        padding: 10px;
        border-top: 1px solid #575757;
    }
    
    .navbar-links ul li a:hover {
        background-color: #6EACDA;
    }
    
    .navbar-links.active {
        display: block;
    }
}


header {
    text-align: center;
    padding: px;
    background: #000000;
    color: #fff;
    margin-top: 70px;
}

main {
    padding: 20px;
    max-width: 1280px;
    margin: auto;
}

section {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
}

h1{
    font-size: 36pt;
    font-weight: bold;
}

h2 {
    font-size: 24pt;
    color: #000000;
    margin-bottom: 10px;
    font-weight: bold;
}

h3 {
    color: #000000;
    margin-bottom: 10px;
    font-weight: bold;
}

p:not(footer){
    font-size: 12pt;
    margin-bottom: 10px;
    text-align: justify;
}

input, button {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background: #335EF8;
    color: #fff;
    cursor: pointer;
    border: none;
}

button:hover {
    background: #6EACDA;
}

.btn{
    margin: 20px 0;
    font-weight: bold;
    font-size: 12pt;
    text-decoration: none;
    color: #ffffff;
    border-radius: 100px;
    width: 200px;
}

canvas {
    margin: 20px 0;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 5px;
}

svg {
    max-width: 100%;
}

footer {
    background:linear-gradient(to right, #8A50C9, #335EF8);
    color: white; /* Warna teks */
    text-align: center; /* Teks rata tengah */
    padding:  20px 0;  
    position: relative; /* Memastikan footer tetap di bawah */
    bottom: 0; /* Menempatkan footer di bawah */
    width: 100%; /* Memastikan footer mengambil lebar penuh */
}

.footer-content ul {
    list-style-type: none; /* Menghapus bullet dari list */
    padding: 0; /* Menghapus padding default */
}

.footer-content li {
    padding: 5px 0;/* Menambahkan jarak antara item list */
}
